// colors

$surface-primary: #171820;
$surface: #1A1C25;
$surface-3: #21232F;
$surface-4: #2A2C3B;
$surface-5: #373B4A;
$caption: #606373;
$secondary: #A8ABBA;
$primary: #FCFCFD;
$green: #09E48D;
$orange: #ED7753;
$red: #ED6158;

